@import "tailwindcss";

:root {
    --mh-red: #b32025;
    --mh-blue: #1a4e8a;
    --mh-gold: #d4a44a;
    --mh-teal: #2b8f86;
    --mh-purple: #6d3ba0;
    --mh-dark: #1a1a1a;
    --mh-light: #f3e6d0;
    --mh-gray: #3d3d3d;
    --mh-orange: #d2692c;
}

body {
    margin: 0;
    --s: 200px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
            from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg
    )
    calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
            from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
    background-attachment: fixed; /* opcional pero recomendado */
}



